.searchPage_header {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  padding-bottom: 0;
  position: sticky;
  border-bottom: 1px solid lightgray;
  z-index: 100;
  background-color: white;
  top: 0;
}

.searchPage_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage_headerBody > .search > .search_input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_options {
  display: flex;
  align-items: center;
  color: grey;
}

.searchPage_optionsLeft,
.searchPage_optionsRight {
  display: flex;
}

.searchPage_options a,
.searchPage_optionsRight a {
  text-decoration: none;
  color: gray;
}

.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 17px 12px 11px 10px
}

.searchPage_optionsRight {
  margin-left: 80px;
}

/* results */

.searchPage_result {
  margin: 20px 0;
}

.searchPage_resultsCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage_results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.searchPage_resultImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.searchPage_resultLink {
  text-decoration: none;
  color: #202124;
}

.searchPage_resultTitle {
  text-decoration: none;
  color: #1a0dab;
}

.searchPage_resultTitle > h3{
  font-weight: normal;
  line-height: 1.3;
  text-decoration-thickness: auto;
}

.searchPage_resultTitle:hover {
  text-decoration: underline;
}
